.playerCard
{
    display: grid;
    height: fit-content;
    border: 1vh double yellow;
    margin: auto;
    padding: 5vh;
    border-radius: 1rem;
    font-size: medium;
    font-weight: bolder;
    #playerName
    {
        margin-bottom: 3vh;
        border-radius: 1rem;
        padding: 1vh;
    }
    #symbol
    {
        font-size: large;
    }
    .chooseSymbol
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 1vh;
        margin: auto;
        font-size: large;
    }
    #plus
    {
        transform: scale(0.6);
    }
    #addDetailsBtn
    {
        color: white;
        background-color: transparentize($color: #625999, $amount: 0.5);
        padding: 2vh;
        border-radius: 1rem;
        margin-top: 2vh;
        border: 2px solid yellow;
        // border: 2px solid white;
        font-size: large;
        font-weight: bolder;
    }
}